In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import csv

In [3]:
path = "Chicago_Crimedata.csv"
df = pd.read_csv(path)
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,1329893,G025358,1/12/2001 17:30,0000X E 100 PL,420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,RESIDENCE,False,True,...,NaN,NaN,04B,1178432.0,1838311.0,2001,8/17/2015 15:03,41.711629,-87.622141,"(41.711628886, -87.622141173)"
1,1329967,G025724,1/12/2001 19:30,0000X E 100 PL,610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,NaN,NaN,5,1178784.0,1838322.0,2001,8/17/2015 15:03,41.711651,-87.620852,"(41.711651086, -87.620851734)"
2,1346230,G047389,1/23/2001 8:00,0000X E 100 PL,820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,NaN,NaN,6,1178566.0,1838395.0,2001,8/17/2015 15:03,41.711856,-87.621648,"(41.711856355, -87.621647891)"
3,1347551,G048475,1/23/2001 20:29,0000X E 100 PL,920,MOTOR VEHICLE THEFT,ATT: AUTOMOBILE,STREET,True,False,...,NaN,NaN,7,1178292.0,1838387.0,2001,8/17/2015 15:03,41.711841,-87.622652,"(41.711840612, -87.622651588)"
4,1377882,G082031,2/8/2001 21:00,0000X E 100 PL,820,THEFT,$500 AND UNDER,STREET,False,False,...,NaN,NaN,6,1178312.0,1838387.0,2001,8/17/2015 15:03,41.711840,-87.622578,"(41.711840159, -87.622578343)"

In [ ]:
df.columns

In [25]:
df["Year"].unique()

array([2001, 2002, 2019, 2008, 2009, 2017, 2016, 2015, 2018, 2003, 2004,
       2005, 2006, 2007, 2010, 2011, 2012, 2013, 2014])

In [20]:
dff = pd.DataFrame({
    "ID":df["ID"],
    "Year":df["Year"],
    "Primary Type":df["Primary Type"],
    "Latitude":df["Latitude"],
    "Longitude":df["Longitude"],
    "Location":df["Location"],
    "Date":df["Date"],
    "Location Description":df["Location Description"]
})
dff = dff.dropna(how ="any")
dff.head()

,ID,Year,Primary Type,Latitude,Longitude,Location,Date,Location Description
0,1329893,2001,BATTERY,41.711629,-87.622141,"(41.711628886, -87.622141173)",1/12/2001 17:30,RESIDENCE
1,1329967,2001,BURGLARY,41.711651,-87.620852,"(41.711651086, -87.620851734)",1/12/2001 19:30,RESIDENCE
2,1346230,2001,THEFT,41.711856,-87.621648,"(41.711856355, -87.621647891)",1/23/2001 8:00,RESIDENCE
3,1347551,2001,MOTOR VEHICLE THEFT,41.711841,-87.622652,"(41.711840612, -87.622651588)",1/23/2001 20:29,STREET
4,1377882,2001,THEFT,41.711840,-87.622578,"(41.711840159, -87.622578343)",2/8/2001 21:00,STREET

In [12]:
len(dff)

1031678

In [23]:
years_data = []
both_data = []
data2001 = []
data2002 = []
data2003 = []
data2004 = []
data2005 = []
data2006 = []
data2007 = []
data2008 = []
data2009 = []
data2010 = []
data2011 = []
data2014 =[]
data2015 = []
data2016 = []
data2017 = []
data2018 = []
data2019 = []

for year in list(range(2001,2015)):
    years_data.append(dff.loc[dff["Year"]== year,:])
    
    
for x in years_data:

0          1329893
1          1329967
2          1346230
3          1347551
4          1377882
5          1449754
6          1461783
7          1494449
8          1496478
9          1501958
10         1570487
11         1589502
12         1641616
13         1641763
14         1650663
15         1652913
16         1653248
17         1692935
18         1693944
19         1704562
20         1704666
21         1707053
22         1723219
23         1741813
24         1760613
25         1783158
26         1783308
27         1797468
28         1898617
31         1973714
            ...
1048003    1621868
1048004    1644460
1048005    1653485
1048006    1688136
1048007    1690371
1048008    1755165
1048009    1760402
1048010    1772088
1048011    1779775
1048012    1783958
1048013    1788264
1048014    1792094
1048015    1798928
1048016    1818658
1048017    1843979
1048018    1851313
1048019    1879139
1048020    1882169
1048021    1883415
1048022    1905546
1048023    1916724
1048442    1335470
1048443    1372510
1048444    1399869
1048445    1591589
1048446    1598967
1048447    1805253
1048448    1869576
1048550    1445971
1048551    1875297
Name: ID, Length: 71996, dtype: int64
29         1932411
30         1967813
32         1976769
33         1983742
34         1983853
35         1986970
36         1989439
37         1991122
38         1995807
39         2000930
40         2019571
41         2023981
42         2048679
43         2068284
82         1952725
83         1974842
84         1975232
85         2015107
86         2043536
87         2087086
195        2088811
196        2109592
197        2120982
198        2122946
199        2149490
200        2205435
201        2214816
202        2238882
203        2239157
204        2243236
            ...
1048115    2304150
1048116    2308238
1048117    2317548
1048118    2328554
1048119    2351264
1048120    2374771
1048121    2393071
1048122    2399664
1048123    2431671
1048124    2460839
1048125    2481511
1048126    2503874
1048127    2516606
1048129    2534259
1048449    1917425
1048450    1922042
1048451    1925674
1048452    2033207
1048453    2069066
1048454    2096152
1048455    2096189
1048456    2096219
1048457    2131566
1048458    2413002
1048459    2466725
1048552    1929938
1048553    2057919
1048554    2110294
1048555    2404116
1048556    2522344
Name: ID, Length: 66605, dtype: int64
217        2545511
218        2574165
219        2586262
220        2595339
221        2607787
222        2608326
223        2611330
224        2622731
225        2641141
226        2671870
227        2676026
228        2692047
229        2706417
230        2743879
231        2770313
232        2825453
233        2845259
234        2853117
235        2868112
236        2870437
237        2876627
238        2938268
239        2941710
240        2942855
241        2956388
242        2960483
243        3028808
244        3042534
245        3047700
246        3057661
            ...
1048135    2762832
1048136    2767853
1048137    2807118
1048138    2813900
1048139    2831057
1048140    2855097
1048141    2898031
1048142    2963901
1048143    2963986
1048144    2974498
1048145    2986039
1048146    2993843
1048147    2994303
1048148    3011485
1048149    3016712
1048150    3059699
1048151    3065079
1048152    3094827
1048460    2672302
1048461    2672389
1048462    2879636
1048463    2949573
1048464    2973529
1048465    3030859
1048466    3076597
1048467    3102459
1048557    2525465
1048558    2642568
1048559    2935345
1048560    3022724
Name: ID, Length: 67491, dtype: int64
253        3166057
254        3206380
255        3209406
256        3214741
257        3247303
258        3257315
259        3272273
260        3311008
261        3373955
262        3376595
263        3415787
264        3417680
265        3420006
266        3433504
267        3463362
268        3463578
269        3527315
270        3539222
271        3542247
272        3590905
273        3622435
274        3649743
275        3676838
276        3719133
277        3761250
772        3169120
773        3169123
774        3209210
775        3302234
776        3310961
            ...
1048167    3382632
1048168    3406177
1048169    3407964
1048170    3423051
1048171    3463104
1048172    3471163
1048173    3486659
1048174    3513950
1048175    3516167
1048176    3573501
1048177    3631348
1048178    3633052
1048179    3633569
1048180    3673986
1048181    3687927
1048182    3696818
1048183    3709120
1048468    3229069
1048469    3331398
1048470    3393614
1048471    3401139
1048472    3464854
1048473    3683888
1048561    3174910
1048562    3328575
1048563    3363591
1048564    3425057
1048565    3433911
1048566    3625590
1048567    3674644
Name: ID, Length: 66407, dtype: int64
278        3835875
279        3850779
280        3880515
281        3887435
282        3901570
283        3906063
284        3932950
285        3934817
286        3936151
287        4020673
288        4024758
289        4054652
290        4056243
291        4066609
292        4100550
293        4107975
294        4136454
295        4153440
296        4189571
297        4217010
298        4227058
299        4315854
300        4391517
301        4500764
302        4533788
799        3792798
800        3828866
801        3874414
802        4028981
803        4048406
            ...
1048202    4302528
1048203    4315256
1048204    4324242
1048205    4327155
1048206    4357263
1048207    4368846
1048208    4380686
1048209    4383520
1048210    4398649
1048211    4445772
1048212    4447834
1048213    4471271
1048214    4478951
1048474    3821228
1048475    3905101
1048476    3913334
1048477    4031621
1048478    4101677
1048479    4206909
1048480    4307676
1048481    4339182
1048482    4410564
1048483    4477526
1048568    3781166
1048569    3862130
1048570    3911635
1048571    3930503
1048572    3996180
1048573    4138196
1048574    4141293
Name: ID, Length: 63548, dtype: int64
303        4569513
304        4572821
305        4593876
306        4602546
307        4624317
308        4626118
309        4628941
310        4663830
311        4687225
312        4726067
313        4734989
314        4736686
315        4753465
316        4762647
317        4795792
318        4803067
319        4809014
320        4816308
321        4824408
322        4825784
323        4845342
324        4859879
325        4881194
326        4885318
327        4889151
328        4897962
329        4900117
330        4912225
331        4944009
332        4949369
            ...
1048215    4515017
1048216    4595847
1048217    4607209
1048218    4609845
1048219    4645345
1048220    4664948
1048221    4665478
1048222    4693832
1048223    4701234
1048224    4732846
1048225    4732977
1048226    4774484
1048227    4827627
1048228    4829056
1048229    4836324
1048230    4840935
1048231    4862334
1048232    4868122
1048233    4881639
1048234    4892494
1048235    4924201
1048236    4973873
1048237    5058747
1048238    5087903
1048239    5091924
1048240    5100723
1048241    5232082
1048484    4541912
1048485    5114299
1048486    5114312
Name: ID, Length: 63633, dtype: int64
345        5277115
346        5302901
347        5307468
348        5331030
350        5387531
351        5422706
352        5445835
353        5488997
354        5497916
355        5506139
356        5507277
357        5512586
358        5534679
359        5610657
360        5615088
361        5631496
362        5650668
363        5660437
364        5683951
365        5710699
366        5713172
367        5719491
368        5724054
369        5730171
370        5734969
371        5747976
372        5756896
373        5776564
374        5798444
375        5804407
            ...
1047971    5632867
1047972    5694166
1047973    5923988
1048242    5260893
1048243    5282379
1048244    5325073
1048245    5378477
1048246    5466743
1048247    5476467
1048248    5505460
1048249    5518371
1048250    5526508
1048251    5558525
1048252    5566038
1048253    5600543
1048254    5638697
1048255    5679684
1048256    5737112
1048257    5754220
1048258    5758338
1048259    5835166
1048260    5850143
1048261    5860463
1048262    5904983
1048263    5934915
1048264    5944366
1048265    5964726
1048487    5487726
1048488    5834788
1048489    5878647
Name: ID, Length: 62949, dtype: int64
391        6085756
392        6233371
393        6245578
394        6254187
395        6254312
396        6288021
397        6291614
398        6296450
399        6302931
400        6303163
401        6320055
402        6322631
403        6322638
404        6324299
405        6325569
406        6344496
407        6369992
408        6376328
409        6389173
410        6390730
411        6391667
412        6454478
413        6480870
414        6481423
415        6516423
416        6531716
417        6531899
418        6549709
419        6571138
420        6576076
            ...
1048277    6391536
1048278    6406487
1048279    6410280
1048280    6451939
1048281    6468110
1048282    6498199
1048283    6499194
1048284    6510857
1048285    6524099
1048286    6524791
1048287    6540516
1048288    6546447
1048289    6571458
1048290    6585517
1048291    6602921
1048292    6616765
1048293    6618078
1048294    6702643
1048490    6029728
1048491    6076453
1048492    6219867
1048493    6238983
1048494    6246235
1048495    6268272
1048496    6355406
1048497    6366031
1048498    6470851
1048499    6470931
1048500    6557982
1048501    6600820
Name: ID, Length: 60922, dtype: int64
99         7282477
433        6714490
434        6716130
435        6719900
436        6722108
437        6722554
439        6729553
440        6752053
441        6768603
442        6777228
443        6820530
444        6824466
445        6857902
446        6871555
447        6894119
448        6927865
449        6945789
450        6950061
451        6974247
452        6990022
453        7032141
454        7034252
455        7044847
456        7051346
457        7090687
458        7162955
459        7190687
460        7192890
461        7209331
462        7209337
            ...
1047914    6844062
1047915    6929307
1047916    7080048
1047917    7103525
1047918    7219308
1047947    7011692
1047979    6868508
1047980    6915739
1047981    6923819
1047982    7182952
1048295    6734068
1048296    6750243
1048297    6759460
1048298    6769601
1048299    6803937
1048300    6839823
1048301    6890150
1048302    6908382
1048303    6971769
1048304    6978125
1048305    7017175
1048306    7025978
1048307    7028104
1048308    7039088
1048309    7141391
1048310    7193974
1048311    7208225
1048312    7248973
1048502    6839581
1048503    7155860
Name: ID, Length: 55470, dtype: int64
469        7304387
470        7308211
471        7313015
472        7316893
473        7325417
474        7340719
475        7349589
476        7366825
477        7388903
478        7391145
479        7403076
480        7403814
481        7406530
482        7415595
483        7416797
484        7421329
485        7422861
486        7423990
487        7449295
488        7450931
489        7468809
490        7500080
491        7502440
492        7530828
493        7552343
494        7662933
495        7691412
496        7721861
497        7732611
498        7737910
            ...
1047737    7953943
1047919    7502698
1047920    7503186
1047921    7654569
1047922    7709810
1047983    7394280
1047984    7668009
1047985    7700254
1048313    7440530
1048314    7440888
1048315    7461197
1048316    7473218
1048317    7486757
1048318    7506194
1048319    7596348
1048320    7629112
1048321    7669987
1048322    7674281
1048323    7716034
1048324    7735867
1048325    7758126
1048326    7813745
1048327    7823586
1048328    7832574
1048504    7637721
1048505    7685294
1048506    7767543
1048507    7778274
1048508    7792728
1048509    7801557
Name: ID, Length: 54696, dtype: int64
508        7909838
509        7922883
510        7970899
511        7974563
512        7983444
513        7990876
514        7996938
515        8016628
516        8043543
517        8046512
518        8049039
519        8058259
520        8074367
521        8102973
522        8106465
523        8110650
524        8119590
525        8129848
526        8133656
527        8147625
528        8150685
529        8154207
530        8155851
531        8158959
532        8158991
533        8159864
534        8186485
535        8188281
536        8188581
537        8192526
            ...
1048330    7935169
1048331    7938673
1048332    7940020
1048333    7954803
1048334    7973719
1048335    7975221
1048336    7988576
1048337    8063653
1048338    8097651
1048339    8111632
1048340    8116648
1048341    8128305
1048342    8188800
1048343    8196135
1048344    8196967
1048345    8212676
1048346    8213226
1048347    8224160
1048348    8274689
1048349    8284526
1048350    8284602
1048351    8296984
1048352    8364097
1048353    8399706
1048510    7882355
1048511    7927130
1048512    8150409
1048513    8295175
1048514    8300878
1048515    8400469
Name: ID, Length: 53101, dtype: int64
547        8422959
548        8448316
549        8451148
550        8465117
551        8475780
552        8476176
553        8486358
554        8555135
555        8695736
556        8731925
557        8760039
558        8909011
559        8941151
560        8941341
968        8422460
969        8438707
970        8475000
971        8486962
972        8527843
973        8570301
974        8611043
975        8613530
976        8615123
977        8619010
978        8643160
979        8670936
980        8681977
981        8701351
982        8720789
983        8728522
            ...
1047933    8960893
1047948    8797151
1047949    8914772
1047988    8480925
1047989    8825634
1048354    8485320
1048355    8569209
1048356    8583837
1048357    8603697
1048358    8706669
1048359    8706921
1048360    8709153
1048361    8712828
1048362    8762541
1048363    8800883
1048364    8813077
1048365    8821985
1048366    8832212
1048367    8832246
1048368    8850965
1048369    8907171
1048516    8477388
1048517    8564882
1048518    8728311
1048519    8754185
1048520    8814047
1048521    8825476
1048522    8827695
1048523    8940240
1048524    9017988
Name: ID, Length: 52331, dtype: int64
561        8954306
562        8956177
563        8990032
564        9012271
565        9026974
566        9039984
567        9066524
568        9074799
569        9155813
570        9194748
571        9231946
572        9242205
573        9246672
574        9258651
575        9263219
576        9269135
577        9291949
578        9374887
579        9377055
580        9381885
581        9403588
582        9416646
583        9425846
1000       8971131
1001       9002810
1002       9041935
1003       9088838
1004       9089629
1005       9114326
1006       9118283
            ...
1047772    9424851
1047773    9441176
1047774    9445516
1047934    9143210
1047935    9191850
1047936    9365565
1047950    9358583
1048370    9014163
1048371    9022294
1048372    9030014
1048373    9030373
1048374    9043965
1048375    9087877
1048376    9142324
1048377    9150117
1048378    9160481
1048379    9162171
1048380    9167526
1048381    9195071
1048382    9214416
1048383    9247076
1048384    9266111
1048385    9316372
1048386    9321390
1048387    9355861
1048388    9361924
1048389    9387086
1048390    9427244
1048525    9380383
1048526    9391613
Name: ID, Length: 48774, dtype: int64
584        9460104
585        9464674
586        9466801
587        9523593
588        9523843
589        9554070
590        9568030
591        9580986
592        9603858
593        9604602
594        9605326
595        9633898
596        9677486
597        9690162
598        9713496
599        9718880
600        9730166
601        9738699
602        9742176
603        9765347
604        9771949
605        9781207
606        9785307
607        9824743
608        9825579
609        9836473
610        9851022
611        9861892
612        9861917
613        9885093
            ...
1047937    9728451
1047938    9814593
1047939    9857612
1048391    9524500
1048392    9551116
1048393    9560991
1048394    9561037
1048395    9623298
1048396    9644129
1048397    9684892
1048398    9688374
1048399    9688690
1048400    9740675
1048401    9772787
1048402    9795904
1048403    9795984
1048404    9821199
1048405    9833191
1048406    9845644
1048407    9858579
1048408    9861757
1048409    9880680
1048410    9914449
1048527    9454611
1048528    9772778
1048529    9772802
1048530    9805769
1048531    9824943
1048532    9890282
1048533    9909149
Name: ID, Length: 44002, dtype: int64

In [14]:
years_data[0].head()

,ID,Year,Primary Type,Latitude,Longitude,Location,Location Description
0,1329893,2001,BATTERY,41.711629,-87.622141,"(41.711628886, -87.622141173)",RESIDENCE
1,1329967,2001,BURGLARY,41.711651,-87.620852,"(41.711651086, -87.620851734)",RESIDENCE
2,1346230,2001,THEFT,41.711856,-87.621648,"(41.711856355, -87.621647891)",RESIDENCE
3,1347551,2001,MOTOR VEHICLE THEFT,41.711841,-87.622652,"(41.711840612, -87.622651588)",STREET
4,1377882,2001,THEFT,41.711840,-87.622578,"(41.711840159, -87.622578343)",STREET

In [15]:
type_data = []
type_list = list(dff["Primary Type"].unique())

for types in type_list:
    type_data.append(dff.loc[dff["Primary Type"] == types,:])

In [18]:
list(type_list)

['BATTERY',
 'BURGLARY',
 'THEFT',
 'MOTOR VEHICLE THEFT',
 'NARCOTICS',
 'OTHER OFFENSE',
 'ASSAULT',
 'CRIMINAL DAMAGE',
 'CRIMINAL TRESPASS',
 'ROBBERY',
 'WEAPONS VIOLATION',
 'GAMBLING',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'OFFENSE INVOLVING CHILDREN',
 'ARSON',
 'CRIM SEXUAL ASSAULT',
 'DECEPTIVE PRACTICE',
 'LIQUOR LAW VIOLATION',
 'PROSTITUTION',
 'SEX OFFENSE',
 'PUBLIC PEACE VIOLATION',
 'STALKING',
 'KIDNAPPING',
 'INTIMIDATION',
 'OBSCENITY',
 'HUMAN TRAFFICKING',
 'HOMICIDE',
 'OTHER NARCOTIC VIOLATION',
 'CONCEALED CARRY LICENSE VIOLATION',
 'NON-CRIMINAL',
 'PUBLIC INDECENCY',
 'RITUALISM',
 'NON - CRIMINAL',
 'NON-CRIMINAL (SUBJECT SPECIFIED)']

In [17]:
len(type_data[0].dropna(how = "any"))

163874